
name: Check code

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install Lua/LuaJIT
        uses: leafo/gh-actions-lua@v8.0.0

      - name: Install LuaRocks
        uses: leafo/gh-actions-luarocks@v4.0.0

      - name: Install luacheck
        run:  luarocks install luacheck

      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          path: repo

      - name: Execute luacheck
        run: |
          cd repo
          luacheck --no-max-string-line-length lua

